# [초보자를 위한 파이썬 300제]
# https://wikidocs.net/book/922

## 01. 파이썬 시작하기

In [ ]:
# 1
print("Hello world")

In [ ]:
# 2
print("Mary's cosmetics")

In [ ]:
# 3
print('신씨가 소리질렀다. "도둑이다".')

In [ ]:
# 4
print(r"C:\Windows")

In [ ]:
# 5
print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n: 줄바꿈
# \t: 탭

In [ ]:
# 6
print("오늘은", "일요일")

# 오늘은 일요일

In [ ]:
# 7
print('naver', 'kakao', 'sk', 'samsung', sep=';')

In [ ]:
# 8
print('naver', 'kakao', 'sk', 'samsung', sep='/')

In [ ]:
# 9
print("first", end=' ');print("second")

In [ ]:
# 10
print(5/3)

## 02. 파이썬 변수

In [ ]:
# 11
samsung = 50000

print(samsung * 10)

In [ ]:
# 12
market_cap = 298000000000000
current_price = 50000
PER = 15.79

print(market_cap, current_price, PER)

In [ ]:
# 13
s = "hello"
t = "python"

print('{}! {}'.format(s, t))

In [ ]:
# 14
# 8

In [ ]:
# 15
a = 132

print(type(a))

In [ ]:
# 16
num_str = "720"

print(int(num_str))

In [ ]:
# 17
num = 100

print(num)

In [ ]:
# 18
s = "15.79"

print(float(s))

In [ ]:
# 19
year = "2020"

print(int(year) + 3)

In [ ]:
# 20
price = 48584
condition = 36

print(price * condition)

## 03. 파이썬 문자열

In [ ]:
# 21
letters = 'python'

print(letters[0], letters[2])

In [ ]:
# 22
license_plate = "24가 2210"

print(license_plate[-4:])

In [ ]:
# 23
string = "홀짝홀짝홀짝"

print(string[::2])

In [ ]:
# 24
string = "PYTHON"

print(string[::-1])

In [ ]:
# 25
phone_number = "010-1111-2222"

print(phone_number.replace('-', ' '))

In [ ]:
# 26
print(phone_number.replace('-', ''))

In [ ]:
# 27
url = "http://sharebook.kr"
url_split = url.split('.')[-1]
print(url_split)

In [ ]:
# 28
# 문자열은 인덱싱으로 수정 안 됨(immutable)

In [ ]:
# 29
string = 'abcdfe2a354a32a'

print(string.replace('a', 'A'))

In [ ]:
# 30
# abcd  # replace한 결과를 string에 저장하지 않았기 때문에 본래의 string이 출력된다.

In [ ]:
# 31
# 34

In [ ]:
# 32
# HiHiHi

In [ ]:
# 33
print('-'*80)

In [ ]:
# 34
t1 = 'python'
t2 = 'java'

result = '{} {} '.format(t1, t2)

print(result * 4)

In [ ]:
# 35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름: %s 나이: %d' % (name2, age2))
print('이름: %s 나이: %d' % (name2, age2))

In [ ]:
# 36
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

In [ ]:
# 37
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

In [ ]:
# 38
stock = "5,969,782,550"
stock = int(stock.replace(',', ''))
print(stock)

In [ ]:
# 39
term = "2020/03(E) (IFRS연결)"
print(term[:7])

In [ ]:
# 40
data = "   삼성전자    "
print(data.strip())

In [ ]:
# 41
ticker = "btc_krw"
print(ticker.upper())

In [ ]:
# 42
ticker = "BTC_KRW"
print(ticker.lower())

In [ ]:
# 43
hello = 'hello'
print(hello.capitalize())

In [ ]:
# 44
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

In [ ]:
# 45
print(file_name.endswith('xlsx' or 'xls'))

In [ ]:
# 45 답지
print(file_name.endswith(('xlsx', 'xls')))

In [ ]:
# 46
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

In [ ]:
# 47
a = "hello world"
print(a.split())

In [ ]:
# 48
ticker = "btc_krw"

print(ticker.split('_'))

In [ ]:
# 49
date = "2020-05-01"
print(date.split('-'))

In [ ]:
# 50
data = "039490     "
print(data.rstrip())

## 04. 파이썬 리스트

In [ ]:
# 51
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

In [ ]:
# 52
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

movie_rank.append('배트맨')
print(movie_rank)

In [ ]:
# 53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

In [ ]:
# 54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

movie_rank.remove('럭키')  # del movie_rank[-2]
print(movie_rank)

In [ ]:
# 55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

movie_rank.pop()
movie_rank.pop()
print(movie_rank)

In [ ]:
# 56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

In [ ]:
# 57
nums = [1, 2, 3, 4, 5, 6, 7]

print(max(nums), min(nums))

In [ ]:
# 58
nums = [1, 2, 3, 4, 5]

print(sum(nums))

In [ ]:
# 59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

In [ ]:
# 60
nums = [1, 2, 3, 4, 5]

print(sum(nums)/len(nums))

In [ ]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

In [ ]:
# 62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

In [ ]:
# 63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

In [ ]:
# 64
nums = [1, 2, 3, 4, 5]

print(nums[::-1])

In [ ]:
# 65
interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

In [ ]:
# 66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(' '.join(interest))

In [ ]:
# 67
print('/'.join(interest))

In [ ]:
# 68
print('\n'.join(interest))

In [ ]:
# 69
string = "삼성전자/LG전자/Naver"

interest = string.split('/')
print(interest)

In [ ]:
# 70
data = [2, 4, 3, 1, 5, 10, 9]

data.sort()
print(data)

## 05. 파이썬 튜플

In [ ]:
# 71
my_variable = ()

In [ ]:
# 72
movie_rank = ()

In [ ]:
# 73
my_tuple = (1, )

In [ ]:
# 74
# 튜플은 immutable한 객체라서 값을 변경할 수 없음

In [ ]:
# 75
t = 1, 2, 3, 4

# 튜플

In [ ]:
# 76
t = ('a', 'b', 'c')

t = ('A', 'b', 'c')
print(t)

In [ ]:
# 77
interest = ('삼성전자', 'LG전자', 'SK Hynix')

print(list(interest))

In [ ]:
# 78
interest = ['삼성전자', 'LG전자', 'SK Hynix']

print(tuple(interest))

In [ ]:
# 79
# apple banana cake

In [ ]:
# 80
print(tuple([num for num in range(1, 100) if num % 2 == 0]))

## 06. 파이썬 딕셔너리

In [ ]:
# 81
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, a, b = scores

In [ ]:
# 82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, b, *valid_score = scores

In [ ]:
# 83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, *valid_score, b = scores

In [ ]:
# 84
temp = {}

In [ ]:
# 85
icecreams = { '메로나': 1000, '폴라포': 1200, '빵빠레': 1800 }

In [ ]:
# 86
icecreams['죠스바'] = '1200'
icecreams['월드콘'] = '1500'

In [ ]:
# 87
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print('메로나 가격: {}'.format(ice['메로나']))

In [ ]:
# 88
ice['메로나'] = 1300

In [ ]:
# 89
del ice['메로나']

In [ ]:
# 90
# 딕셔너리에 없는 키를 사용했기 때문

In [ ]:
# 91
inventory = {'메로나': [300, 20],
                '비비빅': [400, 3],
                '죠스바': [250, 100]}

In [ ]:
# 92
print('{} 원'.format(inventory['메로나'][0]))

In [ ]:
# 93
print('{} 개'.format(inventory['메로나'][1]))

In [ ]:
# 94
inventory['월드콘'] = [500, 7]

In [ ]:
# 95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

icecream_keys = list(icecream.keys())
print(icecream_keys)

In [ ]:
# 96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

icecream_values = list(icecream.values())
print(icecream_values)

In [ ]:
# 97
print(sum(icecream_values))

In [ ]:
# 98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

In [ ]:
# 99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

In [ ]:
# 100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

## 07. 파이썬 분기문

In [ ]:
# 101
print(True, type(True))
# bool 타입

In [ ]:
# 102
# False

In [ ]:
# 103
# True

In [ ]:
# 104
# True

In [ ]:
# 105
# True

In [ ]:
# 106
# 부등호가 앞에 와야 함

In [ ]:
# 107
#  # 아무 것도 출력되지 않음

In [ ]:
# 108
# Hi, there.

In [ ]:
# 109
# 1
# 2
# 4

In [ ]:
# 110
# 3
# 5

In [ ]:
# 111
input_val = input()
print(input_val*2)

In [ ]:
# 112
num = int(input("숫자를 입력하세요: "))
print(num + 10)

In [ ]:
# 113
num = int(input("숫자를 입력하세요: "))
print("짝수" if num % 2 == 0 else "홀수")

In [ ]:
# 114
num = int(input("입력값: ")) + 20

if num > 255:
    print(255)
else:
    print("출력값: {}".format(num))

In [ ]:
# 115
num = int(input("입력값: ")) - 20

if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print("출력값: {}".format(num))

In [ ]:
# 116
time = input("현재시간: ")

if time[-2:] == '00':
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

In [ ]:
# 117
fruit = ["사과", "포도", "홍시"]

input_val = input("좋아하는 과일은? ")
if input_val in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

In [ ]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

input_val = input()
if input_val in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

In [ ]:
# 119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

input_val = input("제가 좋아하는 계절은: ")
if input_val in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

In [ ]:
# 120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

input_val = input("좋아하는 과일은? ")
if input_val in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

In [ ]:
# 121
input_val = input()
if input_val.islower():
    print(input_val.upper())
else:
    print(input_val.lower())

In [ ]:
# 122
score = int(input())

print("grade is ", end='')
if 80 < score <= 100:
    print('A')
elif 60 < score:
    print('B')
elif 40 < score:
    print('C')
elif 20 < score:
    print('D')
elif 0 <= score:
    print('E')

In [ ]:
# 123
input_val = input("입력: ")
money, unit = input_val.split()
money = int(money)

if unit == '달러':
    print(money * 1167)
elif unit == '엔':
    print(money * 1.096)
elif unit == '유로':
    print(money * 1268)
elif unit == '위안':
    print(money * 171)

In [ ]:
# 123 답지
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

In [ ]:
# 124
numbers = []
for i in range(3):
    my_str = "input number{}: ".format(i+1)
    num = int(input(my_str))
    numbers.append(num)
    
print(max(numbers))

In [ ]:
# 125
news_agency = {'011': 'SKT', '016': 'KT', '019': 'LGU', '010': '알수없음'}

phone_num = input("휴대전화 번호 입력: ").split('-')
if phone_num[0] in news_agency:
    print("당신은 {} 사용자입니다.".format(news_agency[phone_num[0]]))

In [ ]:
# 126
region = {'010': '강북구', '011': '강북구', '012': '강북구', '013': '도봉구', '014': '도봉구',
            '015': '도봉구', '016': '노원구', '017': '노원구', '018': '노원구', '019': '노원구'}

zip_code = input("우편번호: ")[:3]
if zip_code in region:
    print(region[zip_code])

In [ ]:
# 127
resident_registration_number = input("주민등록번호: ").split('-')[1]

sex = int(resident_registration_number[0])
if sex == 1 or sex == 3:
    print('남자')
elif sex == 2 or sex == 4:
    print('여자')

In [ ]:
# 128
resident_registration_number = input("주민등록번호: ").split('-')[1]
place_of_birth = resident_registration_number[1:3]

if place_of_birth in ['00', '01', '02', '03', '04', '05', '06', '07', '08']:
    print('서울 입니다.')
elif place_of_birth in ['09', '10', '11', '12']:
    print('부산 입니다.')
else:
    print('서울이 아닙니다.')

In [ ]:
# 129
num = input("주민등록번호: ").replace('-', '')

validity_num = 0
for i in range(len(num[:9])):
    validity_num += int(num[i]) * (i+2)

for i in range(len(num[9:])):
    validity_num += int(num[i]) * (i+2)

validity_num = 11 - validity_num % 11
if int(num[-1]) != validity_num:
    print("유효하지 않은 주민등록번호입니다.")

In [ ]:
# 130
import requests

btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

fluctuation_range = int(btc['max_price']) - int(btc['min_price'])

if int(btc['opening_price']) + fluctuation_range > int(btc['max_price']):
    print("상승장")
else:
    print("하락장")

## 08. 파이썬 반복문

In [ ]:
# 131
# 사과
# 귤
# 수박

In [ ]:
# 132
# #####
# #####
# #####

In [ ]:
# 133
print('A')
print('B')
print('C')

In [ ]:
# 134
print('출력: {}'.format('A'))
print('출력: {}'.format('B'))
print('출력: {}'.format('C'))

In [ ]:
# 135
val = 'A'.lower()
print('변환: {}'.format(val))
val = 'B'.lower()
print('변환: {}'.format(val))
val = 'C'.lower()
print('변환: {}'.format(val))

In [ ]:
# 136
for i in range(3):
    val = 10*(i+1)
    print(val)

In [ ]:
# 137
for i in range(3):
    print(10*(i+1))

In [ ]:
# 138
for i in range(3):
    print(10*(i+1))
    print("-------")

In [ ]:
# 139
for i in range(4):
    if i == 0:
        print("++++")
    else:
        print(10*i)

In [ ]:
# 139 답지
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

In [ ]:
# 140
for i in range(4):
    print("-------")

In [ ]:
# 141
my_list = [100, 200, 300]
for val in my_list:
    print(val + 10)

In [ ]:
# 142
my_list = ["김밥", "라면", "튀김"]
for val in my_list:
    print('오늘의 메뉴: {}'.format(val))

In [ ]:
# 143
my_list = ["SK하이닉스", "삼성전자", "LG전자"]
for val in my_list:
    print(len(val))

In [ ]:
# 144
my_list = ['dog', 'cat', 'parrot']
for val in my_list:
    print(val, len(val))

In [ ]:
# 145
my_list = ['dog', 'cat', 'parrot']
for val in my_list:
    print(val[0])

In [ ]:
# 146
my_list = [1, 2, 3]
for val in my_list:
    print('3 x {}'.format(val))

In [ ]:
# 147
my_list = [1, 2, 3]
for val in my_list:
    print('3 x {} = {}'.format(val, 3 * val))

In [ ]:
# 148
my_list = ["가", "나", "다", "라"]
for val in my_list[1:]:
    print(val)

In [ ]:
# 149
my_list = ["가", "나", "다", "라"]
for val in my_list[::2]:
    print(val)

In [ ]:
# 150
my_list = ["가", "나", "다", "라"]
for val in my_list[::-1]:
    print(val)

In [ ]:
# 151
my_list = [3, -20, -3, 44]
for val in [num for num in my_list if num < 0]:
    print(val)

In [ ]:
# 152
my_list = [3, 100, 23, 44]
for val in [num for num in my_list if num % 3 == 0]:
    print(val)

In [ ]:
# 153
my_list = [13, 21, 12, 14, 30, 18]
for val in [num for num in my_list if num < 20 and num % 3 == 0]:
    print(val)

In [ ]:
# 154
my_list = ["I", "study", "python", "language", "!"]
for val in [str for str in my_list if len(str) >= 3]:
    print(val)

In [ ]:
# 155
my_list = ["A", "b", "c", "D"]
for val in [str for str in my_list if str.isupper()]:
    print(val)

In [ ]:
# 156
my_list = ["A", "b", "c", "D"]
for val in [str for str in my_list if str.islower()]:
    print(val)

In [ ]:
# 157
my_list = ['dog', 'cat', 'parrot']
for val in my_list:
    print(val.capitalize())

In [ ]:
# 158
my_list = ['hello.py', 'ex01.py', 'intro.hwp']
for val in my_list:
    print(val.split('.')[0])

In [ ]:
# 159
my_list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for val in [file for file in my_list if file.endswith('h')]:
    print(val)

In [ ]:
# 160
my_list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for val in [file for file in my_list if file.endswith('h') or file.endswith('c')]:
    print(val)

In [ ]:
# 161
for num in range(100):
    print(num)

In [ ]:
# 162
for year in range(2002, 2051, 4):
    print(year)

In [ ]:
# 163
for num in range(3, 31, 3):
    print(num)

In [ ]:
# 164
for num in range(99, -1, -1):
    print(num)

In [ ]:
# 165
for num in range(0, 10, 1):
    print(num/10)

In [ ]:
# 166
for num in range(1, 10):
    print("3x{} = {}".format(num, num*3))

In [ ]:
# 167
for num in range(1, 10):
    if num % 2 != 0:
        print("3x{} = {}".format(num, num*3))

In [ ]:
# 168
sum_num = 0
for num in range(10):
    sum_num += num + 1
print('합 : {}'.format(sum_num))

In [ ]:
# 169
sum_num = 0
for num in range(10):
    num += 1
    if num% 2 != 0:
        sum_num += num
print('합 : {}'.format(sum_num))

In [ ]:
# 170
multiplied_num = 1
for num in range(10):
    multiplied_num *= (num + 1)
print('값 : {}'.format(multiplied_num))

In [ ]:
# 171
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(price_list[i])

In [ ]:
# 172
for i in range(len(price_list)):
    print(i, price_list[i])

In [ ]:
# 172 답지
for i, data in enumerate(price_list):
    print(i, data)

In [ ]:
# 173
for i in range(len(price_list)):
    idx = 3-i
    print(idx, price_list[idx])

In [ ]:
# 174
for i in range(1, len(price_list)):
    num = 90 + (10 * i)
    print(num, price_list[i])

In [ ]:
# 175
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1):
    print(' '.join(my_list[i:i+2]))

In [ ]:
# 176
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2):
    print(' '.join(my_list[i:i+3]))

In [ ]:
# 177
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1):
    print(' '.join(my_list[i:i+2]))

In [ ]:
# 178
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

In [ ]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    end_price = my_list[i:i+3]    
    print(sum(end_price)/len(end_price))

In [ ]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])

print(volatility)

In [ ]:
# 181
apart = [['101호', '102호'],
        ['201호', '202호'],
        ['301호', '302호']]

In [ ]:
# 182
stock = [['시가', 100, 200, 300],
        ['종가', 80, 210, 330]]

In [ ]:
# 183
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330]}

In [ ]:
# 184
stock = {'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [ ]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print('{} 호'.format(apart[i][j]))

In [ ]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print('{} 호'.format(apart[-1-i][j]))

In [ ]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print('{} 호'.format(apart[-1-i][-1-j]))

In [ ]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print('{} 호'.format(apart[i][j]))
        print('-----')

In [ ]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print('{} 호'.format(apart[i][j]))
    print('-----')

In [ ]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print('{} 호'.format(apart[i][j]))
print('-----')

In [ ]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in range(len(data)):
    for j in range(len(data[i])):
        price = data[i][j]
        print(price + price*0.00014)

In [ ]:
# 191 답지
for line in data:
    for column in line:
        print(column * 1.00014)

In [ ]:
# 192
for row in data:
    for column in row:
        print(column * 1.00014)
    print('----')

In [ ]:
# 193
result = []
for row in data:
    for column in row:
        result.append(column * 1.00014)
        
print(result)

In [ ]:
# 194
result = []
for row in data:
    result_row = []
    for column in row:
        result_row.append(column * 1.00014)
    result.append(result_row)

print(result)

In [ ]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[-1])

In [ ]:
# 196
for row in ohlc[1:]:
    if row[-1] > 150:
        print(row[-1])

In [ ]:
# 197
for row in ohlc[1:]:
    if row[-1] >= row[0]:
        print(row[-1])

In [ ]:
# 198
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1] - row[-2])

print(volatility)

In [ ]:
# 199
volatility = []
for row in ohlc[1:]:
    if row[-1] > row[0]:
        print(row[1] - row[-2])

In [ ]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = 0
for row in ohlc[1:]:
    profit += row[0] - row[-1]

print(profit)

## 09. 파이썬 함수

In [ ]:
# 201
def print_coin():
    print("비트코인")

In [ ]:
# 202
print_coin()

In [ ]:
# 203
for i in range(100):
    print_coin()

In [ ]:
# 204
def print_coins():
    for i in range(100):
        print("비트코인")

In [ ]:
# 205
# 함수가 정의되기 전에 호출했기 때문

In [ ]:
# 206
# A
# B
# C
# A
# B

In [ ]:
# 207
# A
# C
# B

In [ ]:
# 208
# A
# C
# B
# E
# D

In [ ]:
# 209
# B
# A

In [ ]:
# 210
# B
# C
# B
# C
# B
# C
# A

In [ ]:
# 211
# 안녕
# Hi

In [ ]:
# 212
# 7
# 15

In [ ]:
# 213
# 함수를 호출할 때 인자를 넣지 않았기 때문

In [ ]:
# 214
# 문자열과 정수의 타입이 맞지 않아서 덧셈이 안 됨

In [ ]:
# 215
def print_with_smile(my_str):
    print(my_str + ':D')

In [ ]:
# 216
print_with_smile("안녕하세요")

In [ ]:
# 217
def print_upper_price(price):
    print(price*1.3)

In [ ]:
# 218
def print_sum(a, b):
    print(a+b)

In [ ]:
# 219
def print_arithmetic_operation(a, b):
    print('{} + {} = {}'.format(a, b, a+b))
    print('{} - {} = {}'.format(a, b, a-b))
    print('{} * {} = {}'.format(a, b, a*b))
    print('{} / {} = {}'.format(a, b, a/b))

In [ ]:
# 220
def print_max(a, b, c):
    max_val = 0
    if a <= c and b <= c:
        max_val = c
    
    if a <= b and c <= b:
        max_val = b
    
    if c <= a and b <= a:
        max_val = a

    print(max_val)

In [ ]:
# 220 답지 cf. a,b,c 양수일 때만 가능
def print_max(a, b, c):
    max_val = 0
    if a > max_val:
        max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val = c
    print(max_val)

In [ ]:
# 221
def print_reverse(my_str):
    my_str_reverse = ''
    for char in my_str:
        my_str_reverse = char + my_str_reverse
    print(my_str_reverse)

print_reverse("python")

In [ ]:
# 221 답지
def print_reverse(string) :
    print(string[::-1])

In [ ]:
# 222
def print_score(my_list):
    print(sum(my_list)/len(my_list))

print_score([1, 2, 3])

In [ ]:
# 223
def print_even(my_list):
    for num in my_list:
        if num % 2 == 0:
            print(num)

print_even([1, 3, 2, 10, 12, 11, 15])

In [ ]:
# 224
def print_keys(my_dict):
    for key in my_dict:
        print(key)

print_keys({"이름": "김말똥", "나이": 30, "성별": 0})

In [ ]:
# 225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, my_date):
    if my_date in my_dict:
        print(my_dict[my_date])

print_value_by_key(my_dict, "10/26")

In [ ]:
# 226
def print_5xn(my_str):
    count = len(my_str) // 5 + len(my_str) % 5
    for i in range(count):
        print(my_str[5*i : 5*i+5])
    
print_5xn("아이엠어보이유알어걸")

In [ ]:
# 227
def print_mxn(my_str, num):
    count = len(my_str) // num + len(my_str) % num
    for i in range(count):
        print(my_str[i*num : i*num+num])            

print_mxn("아이엠어보이유알어걸", 3)

In [ ]:
# 228
def calc_monthly_salary(annual_salary):
    salary = annual_salary // 12
    print(salary)

calc_monthly_salary(12000000)

In [ ]:
# 229
# 왼쪽: 100
# 오른쪽: 200

In [ ]:
# 230
# 왼쪽: 200
# 오른쪽: 100

In [ ]:
# 231
# 오류 발생. result 변수가 정의되지 않음. 함수 안의 result 변수는 함수 밖에서 사용할 수 없음

In [ ]:
# 232
def make_url(url):
    print('www.{}.com'.format(url))

make_url("naver")

In [ ]:
# 233
def make_list(my_str):
    print(list(my_str))

make_list("abcd")

In [ ]:
# 234
def pickup_even(my_list):
    print([num for num in my_list if num % 2 == 0])

pickup_even([3, 4, 5, 6, 7, 8])

In [ ]:
# 235
def convert_int(my_str):
    my_str = my_str.replace(',', '')
    print(int(my_str))

convert_int("1,234,567")

In [ ]:
# 236
# 22

In [ ]:
# 237
# 22

In [ ]:
# 238
# 140

In [ ]:
# 239
# 16

In [ ]:
# 240
# 28

## 10. 파이썬 모듈

In [ ]:
# 241
from datetime import datetime

now = datetime.now()
print(now)

In [ ]:
# 242
from datetime import datetime

now = datetime.now()
print(now, type(now))

In [ ]:
# 243
import datetime

today = datetime.date.today()

for i in range(5):
    diff_days = datetime.timedelta(days=5-i)
    print("{}일 전 날짜: {}".format(5-i, today-diff_days))

In [ ]:
# 244
from datetime import datetime

now = datetime.now()
current_time = now.strftime("%H:%M:%S")
print(current_time)

In [ ]:
# 245
from datetime import datetime

date = datetime.strptime("2020-05-04", '%Y-%m-%d')
print(date, type(date))

In [ ]:
# 246
import time, datetime

while True:
    print(datetime.datetime.now())
    time.sleep(1)

In [ ]:
# 247
# 1. import 모듈  # 모듈명.함수명()
# 2. from 모듈 import 함수
# 3. imort *
# 4. from 모듈 import *

In [ ]:
# 248
import os

print(os.getcwd())  # 현재 디렉토리 경로 출력

In [ ]:
# 249
import os

os.rename('data/test.txt', 'data/Test.txt')

In [ ]:
# 250
import numpy as np

a = np.arange(0, 5, 0.1)
for val in a:
    print('{:.2f}'.format(val))  # round(val, 2))

## 11. 파이썬 클래스

In [ ]:
# 251
# 클래스: 인스턴스를 만들 수 있는 틀
# 객체: 특징을 가진 무언가
# 인스턴스: 클래스에서 만든 객체

In [ ]:
# 252
class Human:
    pass

In [ ]:
# 253
areum = Human()

In [ ]:
# 254
class Human:
    
    def __init__(self):
        print("응애응애")


areum = Human()

In [ ]:
# 255
class Hman:

    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


areum = Human("아름", 25, "여자")

In [ ]:
# 256
print("이름: {}, 나이: {}, 성별: {}".format(areum.name, areum.age, areum.sex))

In [ ]:
# 257
class Human:

    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))


areum = Human("아름", 25, "여자")
areum.who()

In [ ]:
# 258
class Human:

    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))
        
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


areum = Human("모름", 0, "모름")
areum.setInfo("아름", 25, "여자")

In [ ]:
# 259
class Human:

    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))
        
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self):
        print('나의 죽음을 알리지 말라')
    

areum = Human("아름", 25, "여자")
del areum

In [ ]:
# 260
# 매개변수 self가 없음

In [ ]:
# 260 답지
# mystock.print()      # OMG.print(mystock)

In [ ]:
# 261
class Stock:
    pass

In [ ]:
# 262
class Stock:

    def __init__(self, name, code):
        self.name = name
        self.code = code


samsung = Stock("삼성전자", "005930")
print(samsung.name, samsung.code)

In [ ]:
# 263
class Stock:

    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name


a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)

In [ ]:
# 264
class Stock:

    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code


a = Stock(None, None)
a.set_code("005930")
print(a.code)

In [ ]:
# 265
class Stock:

    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code


samsung = Stock("삼성전자", "005930")
print(samsung.get_name(), samsung.get_code())

In [ ]:
# 266
class Stock:

    def __init__(self, name, code, per: float, pbr: float, dividend_yield: float):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend_yield = dividend_yield

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code

In [ ]:
# 267
samsung = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
print(samsung)

In [ ]:
# 268
class Stock:

    def __init__(self, name, code, per: float, pbr: float, dividend_yield: float):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend_yield = dividend_yield

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code
    
    def set_per(self, per):
        self.per = per
    
    def set_pbr(self, pbr):
        self.pbr = pbr
    
    def set_dividend(self, dividend):
        self.dividend = dividend

In [ ]:
# 269
samsung = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
samsung.set_per(12.75)
print(samsung.per)

In [ ]:
# 270
stock_list = []
samsung = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
stock_list.append(samsung)
hyeondae = Stock('현대차', '005380', 8.70, 0.35, 4.27)
stock_list.append(hyeondae)
lg = Stock('LG전자', '066570', 317.34, 0.69, 1.37)
stock_list.append(lg)

for stock in stock_list:
    print(stock.code, stock.per)

In [ ]:
# 271
import random

class Account:

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        self.account_num = self.create_account_num()

    def create_num(self, n):
        num_list = [str(random.randint(0,9)) for i in range(n)]
        return ''.join(num_list)

    def create_account_num(self):
        account_num = self.create_num(3) + '-'\
            + self.create_num(2) + '-'\
            + self.create_num(6)
        return account_num

    def print_info(self):
        print('은행이름: {}'.format(self.bank))
        print('계좌번호: {}'.format(self.account_num))


my_acc = Account('예금주', 10000)
my_acc.print_info()

In [ ]:
# 271 답지
import random

class Account:
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

kim = Account("김민수", 100)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

In [ ]:
# 272
import random

class Account:

    count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

        Account.count += 1

In [ ]:
# 273
import random

class Account:

    count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

        Account.count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)

In [ ]:
# 274
import random

class Account:

    count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

        Account.count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)

    def deposit(self, money):
        if money >= 1:
            self.balance += money

In [ ]:
# 275
import random

class Account:

    count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

        Account.count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)

    def deposit(self, money):
        if money >= 1:
            self.balance += money

    def withdraw(self, money):
        if self.balance >= money:
            self.balance -= money

In [ ]:
# 276
import random

class Account:

    count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

        Account.count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)

    def deposit(self, money):
        if money >= 1:
            self.balance += money

    def withdraw(self, money):
        if self.balance >= money:
            self.balance -= money

    def display_info(self):
        print("은행이름: {}".format(self.bank))
        print("예금주: {}".format(self.name))
        print("계좌번호: {}".format(self.account_number))
        print("잔고: {}".format(self.balance))

In [ ]:
# 277
import random

class Account:

    count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

        Account.count += 1

        self.deposit_count = 0
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)

    def deposit(self, money):
        if money >= 1:
            self.balance += money
            self.deposit_count += 1

    def withdraw(self, money):
        if self.balance >= money:
            self.balance -= money

    def display_info(self):
        print("은행이름: {}".format(self.bank))
        print("예금주: {}".format(self.name))
        print("계좌번호: {}".format(self.account_number))
        print("잔고: {}".format(self.balance))
    
    def deposit_interest(self):
        if self.deposit_count >= 5:
            self.balance *= 1.01
            self.deposit_count = 0

In [ ]:
# 277 답지
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

In [ ]:
# 278
account_1 = Account('김', 10000000)
account_2 = Account('이', 15000)
account_3 = Account('박', 20000)

account_list = []
account_list.append(account_1)
account_list.append(account_2)
account_list.append(account_3)

In [ ]:
# 279
for account in account_list:
    if account.balance >= 1000000:
        account.display_info()

In [ ]:
# 280
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.deposit_record = []
        self.withdraw_record = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_record.append(amount)

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)

    def deposit_history(self):
        print('입금 내역')
        for deposit in self.deposit_record:
            print(deposit)

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

            self.withdraw_record.append(amount)

    def withdraw_history(self):
        print('출금 내역')
        for withdraw in self.withdraw_record:
            print(withdraw)

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

In [ ]:
# 280 답지
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

In [ ]:
# 281
class Car:

    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price


car = Car(2, 1000)
print(car.wheel, car.price)

In [ ]:
# 282
class Bicycle(Car):
    pass

In [ ]:
# 283
bicycle = Bicycle(2, 100)
print(bicycle.price)

In [ ]:
# 284
class Bicycle(Car):
    
    def __init__(self, wheel, price, drivetrain):
        super().__init__(wheel, price)
        self.drivetrain = drivetrain


bicycle = Bicycle(2, 100, '시마노')
print(bicycle.drivetrain)

In [ ]:
# 285
class MotorCar(Car):
    
    def __init__(self, wheel, price):
        super().__init__(wheel, price)
        

    def display_info(self):
        print("바퀴수 {}".format(self.wheel))
        print("가격 {}".format(self.price))


car = MotorCar(4, 1000)
car.display_info()

In [ ]:
# 286
class Bicycle(Car):
    
    def __init__(self, wheel, price, drivetrain):
        super().__init__(wheel, price)
        self.drivetrain = drivetrain
        

    def display_info(self):
        print("바퀴수 {}".format(self.wheel))
        print("가격 {}".format(self.price))


bicycle = Bicycle(2, 100, "시마노")
bicycle.display_info()

In [ ]:
# 287
class Bicycle(MotorCar):
    
    def __init__(self, wheel, price, drivetrain):
        super().__init__(wheel, price)
        self.drivetrain = drivetrain
        

    def display_info(self):
        super().display_info()
        print("구동계 {}".format(self.drivetrain))


bicycle = Bicycle(2, 100, "시마노")
bicycle.display_info()

In [ ]:
# 288
# 자식호출

In [ ]:
# 289
# 자식생성

In [ ]:
# 290
# 자식생성
# 부모생성

In [ ]:
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

나 = 자식()

## 12. 파일 입출력과 예외처리

In [ ]:
# 291
import os

file_path = 'data/매수종목1.txt'
with open(file_path, 'w', encoding='UTF-8') as file:
    file.write('005930\n005380\n035420\n')

In [ ]:
# 292
import os

file_path = 'data/매수종목2.txt'
with open(file_path, 'w', encoding='UTF-8') as file:
    file.write('005930 삼성전자\n005380 현대차\n035420 NAVER\n')

In [ ]:
# 293
import csv

file_path = 'data/매수종목.csv'
with open(file_path, 'w', encoding='cp949', newline='') as file:
    wr = csv.writer(file)
    wr.writerow(['종목명', '종목코드', 'PER'])
    wr.writerow(['삼성전자', '005930', 15.79])
    wr.writerow(['NAVER', '035420', 55.82])

In [ ]:
# 294
import os

code = []
file_path = 'data/매수종목1.txt'
with open(file_path, 'r', encoding='UTF-8') as file:
    for line in file.readlines():
        code.append(line.strip())

print(code)

In [ ]:
# 295
import os

code_stock = {}
file_path = 'data/매수종목2.txt'
with open(file_path, 'r', encoding='UTF-8') as file:
    for line in file.readlines():
        code, stock = line.strip().split()
        code_stock[code] = stock

print(code_stock)

In [ ]:
# 296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:  # ValueError: could not convert string to float: '' 처리
        print(0)

In [ ]:
# 297
per = ["10.31", "", "8.00"]

my_list = []
for i in per:
    try:
        my_list.append(float(i))
    except:
        my_list.append(0)

print(my_list)

In [ ]:
# 298
try:
    val = 5/0
except ZeroDivisionError:
    val = 0

print(val)

In [ ]:
# 299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])   # IndexError: list index out of range
    except IndexError as e:
        print(e)

In [ ]:
# 300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        val = float(i)  # ValueError: could not convert string to float: ''
    except ValueError as e:
        print(e)
    else:
        print(val)
    finally:
        print('try-except-else-finally')